<section class="section">
    <div class="intro">
        <h1 class="title">
        Social Reconstruction of Character Relationships in Feature Films: A Graph Analytic Model
        </h1>
        <h3 class="authors">
        Chi-Hsuan Huang, Kun-Ta Chuang
        </h3>
    </div>
    <div class="background"><video id="video_background" preload="auto" autoplay="autoplay" loop="loop" width=100%>
        <source src="video/preview.mp4" type="video/mp4">
        <source src="video/preview.ogg" type="video/ogg">
        <source src="video/preview.webm" type="video/webm">
        </video>
    </div> 

</section>

<section class="section">
    <div class="ptitle"><h1>Introduction</h1></div>
    <div class="container">
	    <div class="slide">
            <%= image_tag "social-graph.jpg", size: "450x300"%>
        </div>
	    <div class="slide">
        </div>
    </div>
</section>

<section class="section">
    <div class="ptitle"><h1>Approach</h1></div>
    <div class="container">
	    <div class="slide">
            <%= image_tag "flow.jpg", size: "450x300"%>
        </div>
	    <div class="slide">
            <%= image_tag "scenes.png", size: "450x350"%>
        </div>
	    <div class="slide">
            <%= image_tag "subflow.png", size: "900x250"%>
        </div>
	    <div class="slide">
            <%= image_tag "Bipartite-Graph.jpg", size: "300x250"%>
        </div>
	    <div class="slide">
            <%= image_tag "cases.png", size: "320x350"%>
        </div>
    </div>
 </section>

<section class="section">
    <%= render 'layouts/header' %>
    <div class="container-fluid">
        <div class="row">
            <%= render 'layouts/sidebar' %>
            <div id="show">
            </div>
        </div>
    </div>
</section>

